
body {
	background-color: #dedede;
	font-family:"Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu;
	margin:  0;
	padding: 0;
}

/*头部*//*************************************************/
header {
	background-color: #323334;
	background-image: url(../img/baidu.png);
	background-repeat: no-repeat;
	/* background-position: ; */
	-webkit-background-size: 123px 46px;
	background-size: 125px 48px;
	background-position: 32px;
	padding: 15px 0px;
	height: 30px;
	position: relative;
	/* top: 0px;   固定!!!
	left: 0px;
	width: 100%; */
}


#nav_list {
	margin:  0;
	padding: 0;
	position: absolute;
	right: 0;
	top: 37%;
}

#nav_list li {
	display: inline-list-item;
	float: left;
	list-style-position:  inside;
	padding-right: 7px;
	width: 84px;
}

#nav_list li a:link {
	text-decoration: none;
	color: #f9f4f8;
	font-size: 0.8em;
	/* padding-left: 20px; */

}

#nav_list li a:visited {
	color: #aba29b;
}

/* #main_div, aside, footer {
	display: none;
}
 */

article {
	background-color: #fff;
	margin: 0 25px 20px;
	padding: 19px 21px;
	/* border-style: outset; */
	border-style: solid;
	border-width: 1px 2px 2px 1px;
	border-color: #cccdce #838485 #838485 #cccdce;
}

article:first-child {
	margin-top: 25px;
}

article p {
	text-indent: 2em;
}

article ul {
	list-style: none;
}

#img_list li  {
	/* color: red; */
	text-align: center;
	width: 160px;
	padding: 10px 6px;
	margin-bottom: 15px;
	border: solid #cccdce 1px;
	font-size: 0.8em;
}

article ul li span {
	/* vertical-align: center; */
	/* margin: 10px; */
	/* line-height: 2em; */
	/* margin-bottom: 10px; */
}

article ul li img {
	margin-top: 10px;
	/* margin: 8px; */
}

#rank {
	font-weight: bold
}






article:last-child {
	 margin-bottom: 40px;
}


article:last-child table {
	margin: 2px auto;
	padding: 0px;
	width: 1165px;
	font-size: 0.8em;
	border: solid 1px #cacbcc;
	border-collapse: collapse;
}

table thead {
	background-color: #000;
	color: white;
}

table tfoot {
	background-color: #cbcccd;
}

table tfoot, table thead {
	font-weight: bolder;
}

table td, table th {
	padding: 5px;
}






aside {
	background-color: #fff;
	margin: 0 25px 18px;
	padding: 19px 21px;
	border-style: solid;
	border-width: 1px 2px 2px 1px;
	border-color: #cccdce #838485 #838485 #cccdce;
}

aside h3 {
	border-left: solid #cbcccd;
	padding-left: 10px;
}

h2 {
	font-weight: bolder;
}

#form_div {
	margin-left: 305px;
	font-size: 0.8em;
}

aside input, aside label, aside select, aside textarea {
	margin-top: 15px;

}

p#help_text {
	color: #babbbf;
	margin-left: 104px;

}

*::-webkit-input-placeholder { /* WebKit browsers */ 
	color: black; 
} 
	
#form_div input {
	margin-left: 10px;
}

#per_desc {
	vertical-align: 97px;
	/* vertical-align: top; */
}

input[type="radio"] {
	color: red;
}

input[type="submit"] {
	background-color: #355acd;
	color: white;
	/* margin: 0 -10 auto; */
	width: 1165px;
	padding: 8px;
	font-size: 1.1em;
	border-radius: 11px;
	/* border-style: none; */
	border-width: 1px;
}



footer {
	background-color: #000001;
	padding: 15px;
	color: white;
	text-align: center;
	font-size: 0.8em;
}


