* {
	margin: 0;
	padding: 0;
}

img {
	display: block;
}

/*header*/

/****************************************/
header {
	padding: 0 40px 40px;
	position: relative;
	width: 892px;
}

header div#redbox {
	position: relative;
}

header span {
	font: 12px SimHei, Microsoft JhengHei, STXihei;
}

span#header_text_left {
	color: #fff;
	position: absolute;
	bottom: 5px;
	left: 5px;
}

span#header_text_right {
	color: #d45d5c;
	position: absolute;
	top: 44px;
	right: 40px;	/* margin-left: 880px; */
}

.header_line {
	background-color: rgb(147, 142, 140);
	position: absolute;
	left: 45px;
	top: 61px;
	width: 892px;
	height: 2px;
	position: absolute;
	bottom: 0;
	left: 40px;
}

/*main*/

/****************************************/
main {
	padding: 0 40px 40px;	/* position: relative; */

	/*main up area*//****************************************/
}

.up_area {
	position: relative;
}

.up_area_left {
	position: relative;
	width: 641px;
}

.up_area_left #left_cover {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.702;
}

.up_area_left #right_cover {
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0.702;
}

.up_area_right {
	position: relative;
	width: 203px;
	margin-left: 681px;
}

.up_area_right .粉色线条 {
	background-color: rgb(204, 128, 145);
	position: absolute;
	top: 0;	/* left: 693px; */
	left: 0;
	width: 203px;
	height: 2px;
}

.up_area_right .about_tech {
	font-size: 24px;
	font-family: "Microsoft YaHei", STXihei;
	color: rgb(0, 0, 0);
	text-decoration: underline;
	font-variant: small-caps;
	line-height: 1.25;
	position: absolute;
	top: 10px;
	width: 65px
}

.up_area_right .about_tech_s {
	font: oblique 12px "KaiTi", STXihei;
	color: rgb(103, 103, 103);
	line-height: 0.833;
	position: absolute;
	top: 75px;
	left: 0;
}

.up_area_right .seven {
	font-size: 116px;
	font-style: oblique;
	font-weight: 600;
	font-family: "Microsoft YaHei", STXihei;
	color: rgb(117, 184, 107);
	position: absolute;
	top: 110px;
	left: 0;
}

.up_area_right .three_two {
	font-size: 55px;
	font-family: "Microsoft YaHei", STXihei;
	color: rgb(204, 128, 145);
	line-height: 1;
	position: absolute;
	top: 250px;
	left: 0;
}

.up_area_right .css_1 {
	font-size: 21px;
	font-family: "Microsoft YaHei", STXihei;
	color: rgb(204, 128, 145);
	line-height: 1;
	position: absolute;
	top: 270px;
	left: 90px;
}

.up_area_right .css_2 {
	font-size: 12px;
	font-family: "Microsoft YaHei", STXihei;
	color: rgba(35, 24, 21, 0.4);
	line-height: 1.167;
	position: absolute;
	top: 287px;
	left: 90px;
}

/*main mid area*/

/****************************************/

.mid_area {
	position: relative;
	margin: 40px 0;
}

/*main mid right area*/

/****************************************/

.mid_right {
	margin-left: 490px;
	width: 130px;
	font-size: 0;
	padding-bottom: 12px;
}

.mid_right span.up {
	display: block;
	font: bold 16px "Microsoft YaHei", STXihei;
	color: rgb(204, 118, 128);
	text-decoration: underline;
	padding-bottom: 12px;	/*当margin-bottom: 14px; mac下间隔正确, 可是windows下就多出了空白部分*/
}

.mid_right span.down_qianduan_text {

	/*mac 这里前端的字会往上紧跟How*/
	display: block;
	font-size: 12px;
	font-family: "SimSun", STXihei;
	color: rgba(35, 24, 21, 0.7);
	margin-bottom: 12px;
}

.mid_right span.down_down {
	margin: 40px;
}

.mid_right span.down_down span.what {

	/*下面padding-bottom应该是16px 但是字体块大小有问题*/
	padding-bottom: 16px;	/*为了实现16px的下内边距, 块的高度显式地设为了10px. 肯定还有更好的办法, inline-block? 或者用p instead pf scan?*/
	height: 10px;
	display: block;
	font: 12px "Microsoft YaHei", STXihei;
	color: #231815;
}

.mid_right span.down_down span.what span.red {
	vertical-align: bottom;
	font: oblique 12px "Microsoft YaHei", STXihei;
	color: rgba(205, 74, 72, 0.7);
}

/*main mid mid area*/

/****************************************/
.mid_mid span.up {
	display: block;
	font: bold 16px "Microsoft YaHei", STXihei;
	color: #d2994f;
	text-decoration: underline;
	position: absolute;
	left: 256px;
	top: 0;
}

.mid_mid span.down {
	display: block;
	font-size: 12px;
	font-family: "SimSun", STXihei;
	width: 210px;
	color: rgba(35, 24, 21, 0.7);
	position: absolute;
	left: 256px;
	top: 33px;
}

/*main mid left area*/

/****************************************/
.mid_left span.up {
	display: block;
	font: bold 16px "SimSun", STXihei;
	color: #418c59;
	text-decoration: underline;
	position: absolute;
	left: 0;
	top: 0;
}

.mid_left span.down {
	display: block;
	font-size: 12px;
	font-family: "SimSun", STXihei;
	width: 228px;
	color: rgba(35, 24, 21, 0.7);
	position: absolute;
	left: 0;
	top: 33px;
}

/*main down right up*/

/****************************************/
.down_area_right {
	margin-left: 434px;
	font-size: 0;
}

.down_right_up {
	background-image: url('../image/peitu-screen.png');
	background-repeat: no-repeat;
	width: 458px;
	height: 277px;
	position: relative;
}

.down_right_up .blackback {
	background-color: rgba(4, 0, 0, 0.4);
	width: 458px;
	height: 60px;
	position: absolute;
	bottom: 20px;
}

.down_right_up .blackback .greenline {
	background-color: rgb(114, 177, 106);
	width: 3px;
	height: 44px;
	display: inline-block;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 35px;
}

.down_right_up .blackback span#qianduanjishu {
	color: rgba(255, 255, 255, 1);
	font: 26px "Microsoft YaHei", STXihei;
	position: absolute;
	top: 12px;
	left: 50px;
}

.down_right_up .blackback span#qianduanjishu_green {
	font: oblique 12px "Microsoft YaHei";
	color: #72b16a;
	position: absolute;
	top: 28px;
	left: 165px;
	letter-spacing: 1.4px;	/*注意这里的1.4px不是任务要求的140%的字间距*/
}

/*main down right down*/

/****************************************/

/*main down right down up*//****************************************/
.down_right_down {
	background-image: url('../image/green-back.jpg');
	width: 459px;
	height: 318px;
	margin-top: 10px;
	position: relative;
}

.down_right_down ul {
	padding: 30px 30px 0;
	list-style-position: inside;
	list-style-image: url('../image/tri.png');
	font: 16px "SimSun", STXihei;
	text-align: left;
	color: #5a5b5b;
}

.down_right_down ul li {
	padding: 0 0 20px;
}

.down_right_down li span#qianduan_xie {
	font: oblique 12px "SimSun", STXihei;
	text-align: right;
	color: #5a5b5b;
}

.down_right_down .down_right {
	margin: 10px 10px 0 278px;
	position: relative;
}

.down_right_down .down_right p {
	font: oblique 12px 黑体, STXihei;
	color: #5a5b5b;
	line-height: 16px;
	width: 170px;	/* vertical-align: center; */
}

q::before,
q::after {
	quotes: '“' '”';
	color: #d45d5c;
	font: 72px "SimHei", STXihei;
	line-height: 16px;	/* vertical-align: bottom;
	line-height: 16px; */
}

q::before {
	position: relative;
	top: 36px;
	right: 40px;
	margin-right: -35px;
}

q::after {
	position: absolute;
	bottom: -28px;
	right: -30px;
}

.down_right_down .down_left {
	background-color: rgb(212, 93, 92);
	width: 260px;
	height: 160px;
	position: absolute;
	bottom: 0;
	left: 0;
}

.down_right_down .down_left #zero {
	font: 110px "Microsoft YaHei", STXihei;
	color: #fff;
	position: absolute;
	/* top: 4px; */
	top: 29px;
	bottom: 0;
	/* left: 5px; */
	left: 5px;
	right: 0;
	margin: auto;
}

.down_right_down .down_left #ver_line {
	background-color: rgb(255, 255, 255);
	width: 2px;
	height: 86px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 105px;
	margin: auto;
}

.down_right_down .down_left .text_div {
	color: #fff;
	position: absolute;
	top: 40px;
	bottom: 0;
	left: 90px;
	right: 0;
	margin: auto;
}

#count1 {
	display: inline-block;
	font: 21px "SimHei", STXihei;	/* line-height: 24px; */
}

#count2 {
	display: inline-block;
	font: 21px "SimHei", STXihei;	/* line-height: 24px; */
}

#hw {
	font: 12px "Simhei", STXihei;	/* line-height: 14px; */
	width: 150px;
}

/* down area left */

/**********************************/
.down_area {
	position: relative;
}

.down_area_left .down_left_up {
	position: absolute;
	top: -15px;
	left: 0;
}

.down_left_up .run {
	display: run-in;
	color: #f5e327;
	font: bold oblique 72px "SimHei", STXihei;
}

.down_left_up .title {
	font: bold 42px "SimHei", STXihei;
	color: #11456b;
	line-height: 26px;
}

.down_left_up .sub_title {
	display: inline-block;
	padding-top: 15px;
	font: bold 33px "SimHei", STXihei;
	color: #11456b;
	margin-bottom: 18px;
}

.down_left_up .hor_line {
	background-color: rgb(16, 69, 107);
	width: 415px;
	height: 2px;
}

.down_area_left .down_left_down {
	position: absolute;
	top: 200px;
	left: 0;
	width: 415px;
}

.down_left_down .run2 {
	font: 70px "Microsoft YaHei", STXihei;
	color: #f5e327;
	float: left;
	margin: -15px 8px 0 -4px;
}

.down_left_down p {
	display: run-in;
	font: 12px "SimSun", STXihei;
	text-align: 16px;
	text-indent: 2em;
	color: #767777;
}

.down_left_down p#intro {
	text-indent: 0;
}

.down_left_down img {
	float: right;
	margin: 12px 0 12px 20px;
}

footer {
	margin: 0 40px 40px;
	position: relative;
}

footer #bottom_line {
	background-color: rgb(147, 142, 140);
	width: 892px;
	height: 1px;
	bottom: 0;
}

footer span {
	font: 12px "SimHei", STXihei;
	color: #d45d5c;
	position: relative;
	top: 0;
	left: 815px;
}